body{
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
}
.container{
    max-width:50rem;
    margin: 3rem auto;
    padding: 2rem;
    border: 1.1in solid;
}
.main heading{
    text-align: center;
    font-size: x-large;
    font-style:initial;
}
.form-control{
    display: flex;
    flex-direction:column;
    font-size: x-large;
    font-style:oblique;
    color:black;
}
.field-head{
    font-size:inherit;
}
.form-control-input{
    background-color:aqua;
    font-size: medium;
    padding: 2cap;
    text-indent: 1cqmax;
    border-color: blue;
    border-radius: 2cqh;
    width: 50%;
    text-align: center;  
}
.field-inputs{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    background-color:tan;
}
.button{
    position: relative;
    font-size: 2rem;
    margin: 0px;
    display: block;
    color:black;
    padding: 0.5rem 0.8rem;
    border: 1px solid ;
    background-color:aliceblue;
    box-shadow:  1px chocolate;
}