html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .nsbeSlides {
    display:none;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 625px;
    width: 330px;
  }
  
  .carousel {
      width: 100%;
      height: 150px;
      
      overflow: visible;
      white-space:nowrap;
  }
  
  .col-container {
    display: flex;
    width: 100%;
  }
  
  .col {
    flex: 1;
    padding: 16px;
  }
  
  .container {
    padding: 0 16px;
    width: 100%;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  body {
    background-image: linear-gradient(#0bf775, #149efa);
      background-color: #000000;
      color: #f3eded;
  }
  
  div {
    width: full;
    padding: 0px;
    margin: 10px;
  }
  
  header {
      font-size: 4vw;
      font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #FFFFFF;
      
  }
  
  p {
      color: white;
      padding-top: 5px;
      padding-bottom: 0px;
      font-size: 20px;
      font-family: 'Ubuntu', sans-serif;
  }
  
  li{
    word-wrap: break-word;
    white-space: normal;
    color: #545454; 
    font-weight: 500; 
    font-size: 13.5px;
  }
  
  div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
  
  .center {
    margin: auto;
    width: 95%;
    border: none;
    padding: 10px;
  }
  
  @keyframes slider{
    0%{
      left: 0;
    }
    20%{
      left: 0;
    }
    25%{
      left: -100%;
    }
    45%{
      left: -100%;
    }
    50%{
      left: -200%;
    }
    70%{
      left: -200%;
    }
    75%{
      left: -300%;
    }
     95%{
      left: -300%;
    }
     100%{
      left: -400%;
    }
  }
  
  #slider {
    overflow: hidden;
  }
  
  #slider figure img {
    width: 20%;
    float: left;
  }
  
  #slider figure {
    position: relative;
    padding-top: 160px;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;
  }
  
  
  nav {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: none;
  }
  
  nav ul {
    display: table-row;
  }
  
  nav li {
    display: table-cell;
    margin: 0;
  }
  
  a{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
  }
  
  i{
    color: #FFFFFF;
    font-size: 24px;
    padding: 16px;
  }
  
  i:hover, i:active{
    background-color: #E5444;
    color: #FFFFFF;
    transition: 0.2s;
  }
  .w3-left
  {
    color: #000;
  }