*{
    background-color:black;
}
.abc{
    color:brown;
    background-color: beige;
}

h1{
    color:blue;
    font-size:3em;
    display:inline-block;
    background-color:bisque;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}.abc{
    color:aqua;
}
#h2{
    color:blueviolet;
    font-size:5em;
    display:ruby;
    background-color:brown;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
